@font-face {
  font-family: fritzQuad;
  src: url(~/assets/fonts/FrizQuadrata.ttf);
}

body {
  background-color: #202D35;
  font-family: fritzQuad;
  color: white;
  text-rendering: optimizeLegibility;
}

#logos {
  text-align: center;
}

#logos img {
  width: 300px;
}

#ui-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#summoner-form {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

#league-button {
  position: relative;
  cursor: pointer;
  width: 225px;
  height: 42px;
  display: flex;
}
#league-button #play-button {
  width: 85%;
  transition-duration: .2s;
  position: absolute;
  top: 7px;
  left: 35px;
}

#league-button #play-button-container {
  /* width: 85%;
  transition-duration: .2s;
  position: absolute;
  top: 7px;
  left: 35px; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 155px;
  height: 36px;
  margin-left: 50px;
  padding: 15px 20px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A3C7C7;
  z-index: 2;
}
#league-button #challanger-logo {
  width: 35px;
}

#league-button #play-button-container:hover {
  color: white;
}

#league-button #play-button-container:hover + #play-button {
  filter: brightness(150%);
}

/* #league-button span {
  position: absolute;
  left: 75px;
  top: 18px;
  color: white;
  z-index: 2;
} */

#nickname {
  padding: 10px;
  width: 195px;
  border: 1px solid #E9D972;
  background-color: #040304;
  color: white;
  border-right: 0;
  outline: 0;
}

#region {
  padding: 9px;
  background-color: #040304;
  color: white;
  border: 1px solid #E9D972;
  border-left: 0;
  outline: 0;
}

#logout-button-container {
  transition-duration: .2s;
  margin-top: 4px;
}

#logout-button-container:hover {
  filter: brightness(150%);
}

/* #logout-button-container {
  border-radius: 50%;
  border: 2px solid #E9D972;
  width: 20px;
  height: 20px;
  padding: 12px;
}

#logout-button-container img {
  width: 100%;
} */